@font-face {
    font-family: "MFShangHei-Regular";
    src: url("https://s0.meituan.net/bs/fe-web-meituan/a3320a6/font/MFShangHei-Regular.eot"); /* IE9 */
    src: url("https://s0.meituan.net/bs/fe-web-meituan/a3320a6/font/MFShangHei-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("https://s0.meituan.net/bs/fe-web-meituan/a3320a6/font/font/MFShangHei-Regular.woff") format("woff"), /* chrome、firefox */
    url("https://s0.meituan.net/bs/fe-web-meituan/a3320a6/font/MFShangHei-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("https://s0.meituan.net/bs/fe-web-meituan/a3320a6/font/MFShangHei-Regular.svg#MFShangHei-Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
.mf-shang-hei-regular {
  font-family: "MFShangHei-Regular" !important;
}